@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300&display=swap");

:root {
  --bg: rgb(139, 140, 137);
  --nav-hover: rgb(39, 76, 119);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* utilizamos estilos */

html {
  background: linear-gradient(90deg, rgb(106, 48, 147), rgb(160, 68, 255));
  display: flex;
  flex-wrap: wrap;
}

/* navbar*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(85, 33, 128);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: end;
  align-items: center;
}

.logo img {
  border-radius: 2em;
  height: 5em;
  padding: 0.5rem;
  align-items: center;
}

.serch-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.serch-form input {
  width: 23rem;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
}

.serch-form button {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  background-color: rgb(163, 177, 139);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 800;
}

.navbar {
  display: flex;
  padding: 0 0.5rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.nav-links li {
  padding: 0.3rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(238, 227, 227);
}

.nav-links li:hover {
  background-color: var(--nav-hover);
  color: rgb(24, 3, 3);
  border-radius: 1.5rem;
}

.nav-links a:hover {
  color: rgb(255, 255, 255);
}

/* Contenido de hero */
#hero {
  padding: 5rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-info h1 {
  font-weight: 800;
  text-align: center;
  color: rgb(216, 166, 101);
  text-decoration: solid;
}

.hero-info p {
  font-family: Montserrat;
  font-weight: 600;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-button a {
  padding: 3px 10px;
  background-color: rgb(70, 25, 102);
  box-shadow: 10px 10px 13px 4px rgba(17, 0, 34, 0.75);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9rem;
}

.hero-button button {
  padding: 0.3rem 1rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-weight: 700;
}

.einstein {
  margin: 2rem 0 0 0;
  height: 400px;
  width: 300px;
  border-radius: 3rem;
}

/* descripcion del negocio */

#description {
  margin: 20ch;
  text-align: center;
}

.description-h2 {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 700;
}

/* card de las materias que brindamos */

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgb(98, 75, 114);
}

.card-1 img {
  width: 300px;
  height: 300px;
}

.card-1-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  border: 2px solid black;
}

.card-1-info p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.card-1-info button {
  padding: 10px 100px;
  margin: 5px;
  background-color: rgb(163, 177, 139);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.card-1-info button:hover {
  color: rgb(255, 255, 0);
}

.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgb(98, 75, 114);
}

.card-2 img {
  width: 300px;
  height: 290px;
}

.card-2-info {
  height: 212px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
}

.card-2-info p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.card-2-info button {
  padding: 5px 100px;
  margin: 5px;
  background-color: rgb(163, 177, 139);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.card-2-info button:hover {
  color: rgb(255, 255, 0);
}

.card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgb(98, 75, 114);
}

.card-3 img {
  width: 300px;
  height: 290px;
}

.card-3-info {
  height: 212px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  border: 2px solid black;
}

.card-3-info button {
  padding: 5px 100px;
  margin: 5px;
  background-color: rgb(163, 177, 139);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.card-3-info button:hover {
  color: rgb(255, 255, 0);
}

/* beneficios de la empresa  */

#benefits {
  margin-top: 10rem;
}

.benefits-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.benefits-title h2 {
  font-size: 2rem;
  font-weight: 900;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  -webkit-background-clip: text;
  background-clip:text ;
  -webkit-text-fill-color: transparent;
}

.benefits-title p{
  font-size: 1.5rem;
  font-weight: 800;
}

.benefits-cards{
  width: 90%;
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.benefits-card{
  width: 30%;
  height: 20rem;
  background: rgb(236, 195, 214);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.benefits-card i, h3{
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}

.benefits-card p{
  text-align: center;
}

/* Footer  */

#footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(177, 148, 216);
}

.footer-iconos-container{
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.footer-iconos{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.footer-iconos h4{
  font-weight: 900;
}

.footer-redSocial{
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}

.footer-img img{
  width: 25rem;
  margin: 0.8rem;
  border-radius: 2rem;
}

/* usamos media @media para responsive para movil */

@media (max-width: 768px) {

  body{
    background-color:  rgb(160, 68, 255);
  }

  .header {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  #hero{
    margin-top: 14rem;
  }

  .hero-container {
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 1rem;
  }

  .hero-info{
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }

  .einstein{
    display: none;
  }

  #benefits{
    width: 90%;
    margin: 1.4rem;
  }

  .benefits-title{
    width: 90%;
    margin: 6rem;
  }

  .benefits-cards{
    width: 90%;
  }

  #fotter{
    width: 90%;
  }

  .footer-img{
    display: none;
  }
}


/* modificar para que se vea en phone, tablet y descktop */