@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300&display=swap");

:root {
  --bg: rgb(139, 140, 137);
  --nav-hover: rgb(39, 76, 119);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* utilizamos estilos */

html {
  background: rgb(106, 48, 147);
  display: flex;
  /* flex-wrap: wrap; */
}

/* navbar*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(85, 33, 128);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  justify-content: end;
  align-items: center;
}

.logo img {
  border-radius: 2em;
  height: 5em;
  padding: 0.5rem;
  align-items: center;
}

.serch-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.serch-form input {
  width: 23rem;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
}

.serch-form button {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  background-color: rgb(163, 177, 139);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 800;
}

.navbar {
  display: flex;
  padding: 0 0.5rem;
}

.nav-links {
  margin: 0 2rem;
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.nav-links li {
  padding: 0.3rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(238, 227, 227);
}

.nav-links li:hover {
  background-color: var(--nav-hover);
  color: rgb(24, 3, 3);
  border-radius: 1.5rem;
}

.nav-links a:hover {
  color: rgb(255, 255, 255);
}

/* menu hamburguesa  */

.bi-list-nested {
  font-size: 2rem;
  display: none;
}

#toggle-menu {
  display: none;
}

/* Contenido de hero */
#hero {
  margin: 4rem 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-info h1 {
  font-weight: 800;
  text-align: center;
  color: rgb(216, 166, 101);
  text-decoration: solid;
}

.hero-info p {
  font-family: Montserrat;
  font-weight: 600;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-button a {
  padding: 3px 10px;
  background-color: rgb(70, 25, 102);
  box-shadow: 10px 10px 13px 4px rgba(17, 0, 34, 0.75);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9rem;
}

.hero-button button {
  padding: 0.3rem 1rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-weight: 700;
}

.einstein {
  margin: 2rem 0 0 0;
  height: 400px;
  width: 300px;
  border-radius: 3rem;
}

/* descripcion del negocio */

#description {
  padding: 8rem;
  margin: 4rem;
}

.description-h2 {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

/* card de las materias que brindamos */

#card {
  margin: 4rem 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgb(98, 75, 114);
}

.card-1 img {
  width: 300px;
  height: 300px;
}

.card-1-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  border: 2px solid black;
}

.card-1-info p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.card-1-info button {
  padding: 10px 100px;
  margin: 5px;
  background-color: rgb(163, 177, 139);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.card-1-info button:hover {
  color: rgb(255, 255, 0);
}

.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgb(98, 75, 114);
}

.card-2 img {
  width: 300px;
  height: 290px;
}

.card-2-info {
  height: 212px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border: 2px solid black;
}

.card-2-info p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.card-2-info button {
  padding: 5px 100px;
  margin: 5px;
  background-color: rgb(163, 177, 139);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.card-2-info button:hover {
  color: rgb(255, 255, 0);
}

.card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgb(98, 75, 114);
}

.card-3 img {
  width: 300px;
  height: 290px;
}

.card-3-info {
  height: 212px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  border: 2px solid black;
}

.card-3-info button {
  padding: 5px 100px;
  margin: 5px;
  background-color: rgb(163, 177, 139);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.card-3-info button:hover {
  color: rgb(255, 255, 0);
}

/* beneficios de la empresa  */

#benefits {
  margin: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.benefits-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.benefits-title h2 {
  font-size: 2rem;
  font-weight: 900;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.benefits-title p {
  font-size: 1.5rem;
  font-weight: 800;
}

.benefits-cards {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.benefits-card {
  width: 30%;
  height: 20rem;
  background: rgb(236, 195, 214);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.benefits-card i,
.benefits-card > h3 {
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}

.benefits-card p {
  text-align: center;
}

/* Footer  */

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(177, 148, 216);
}

.footer-iconos-container {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.footer-iconos {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.footer-iconos h4 {
  font-weight: 900;
}

.footer-redSocial {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}

.footer-img img {
  width: 25rem;
  margin: 0.8rem;
  border-radius: 2rem;
}

/* Estilos para tabletas */

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .nav-links {
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(51, 51, 51);
    padding: 10px 0;
    z-index: 1;
    opacity: 0.9;
    font-weight: 700;
    display: none;
  }
  
  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a{
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .bi-list-nested {
    display: block;
    color: bisque;
    cursor: pointer;
  }

  #toggle-menu:checked + .nav-links {
    display: flex;
  }

  .header {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  #hero {
    margin: 2rem;
  }

  .hero-container {
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 1rem;
  }

  .hero-info {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .hero-info h1 {
    font-size: 3rem;
  }

  .einstein {
    display: none;
  }

  #description {
    padding: 5rem;
    margin: 1rem;
    text-align: center;
  }

  #card {
    flex-direction: column;
  }

  .card-1 {
    width: 100%;
    background: none;
    gap: 2rem;
  }

  .card-1-info {
    border: none;
  }

  .card-1 img {
    width: 100%;
  }

  .card-2 {
    width: 100%;
    background: none;
    gap: 2rem;
  }

  .card-2-info {
    border: none;
  }

  .card-2 img {
    width: 100%;
  }

  .card-3 {
    width: 100%;
    background: none;
    gap: 2rem;
  }

  .card-3-info {
    border: none;
  }

  .card-3 img {
    width: 100%;
  }

  #benefits {
    padding: 2rem;
  }

  .benefits-title {
    text-align: center;
    gap: 3rem;
  }

  .benefits-title p {
    text-align: center;
    font-size: 1.5rem;
  }

  .benefits-cards {
    flex-direction: column;
    width: 100%;
  }

  .benefits-card {
    width: 100%;
  }

  #footer {
    padding: 1rem;
  }

  .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-iconos-container {
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer-redSocial {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-img {
    display: none;
  }
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    justify-content: space-around;
  }

  .serch {
    width: 70%;
  }

  .logo {
    display: none;
  }

  .hero-info p{
    text-align: center;
  }


  .card-1,
  .card-2,
  .card-3{
    height: 10rem;
    padding: 2rem 0;
    margin: 2rem 0;
  }

  .card-1 img,
  .card-2 img,
  .card-3 img {
    display: none;
  }

  .card-1-info button,
  .card-2-info button,
  .card-3-info button{
    border: none;
    display: flex;
  }


}
